.edit_select {
    width: 45px;
}

.edit_select input{
    /*margin: 7px !important;*/
    margin-left: 8px !important;
}

#page-nav {
  text-align: center;
  margin-top: 30px;
}

#page-nav .page-number {
  width: 20px;
  height: 20px;
  background: #4d4d4d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  margin: 0 3px 30px;
}
#page-nav .page-number:hover {
  background: #5e5e5e;
}
#page-nav .current {
  background: #88acdb;
  cursor: default;
}
#page-nav .current:hover {
  background: #88acdb;
}
#page-nav .extend {
  color: #4d4d4d;
  margin: 0 27px;
  opacity: 0;
}
#page-nav .extend:hover {
  color: #5e5e5e;
}
#page-nav:hover .extend {
  opacity: 1;
}